.row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	margin-top: 30px;
	height: 200px;
	width: 40vw;
	text-align: center;
	color: white;
	background-color: #D4D3DC;
}
.points
{
	width: 40%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #384454;
	height: 100%;
	color: white;
	align-items: center;
}
.titleandVote
{
	display: flex;
	width: 60%;
	justify-content: center;
	align-items: flex-start;
	color: black;
	flex-direction: column;
	/*background-color: aliceblue;*/
}
.titleandVote div
{
	width: 100%;
	height: 100%;
	margin: 10px;
}
h1{
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
	font-family: Fira Code;
}
.rate a{
	display: inline-block;
	width: 30%;
	margin-right: 5px;
	text-align: center;
	padding: 10px;
	border-radius: 15px;
	background-color: rgba(200, 200, 200, .4);
}