<div class="content">
	<div>
		<img src="{{ imageUrl }}" >
		Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Quia nobis mollitia officia amet necessitatibus, hic quasi veritatis nisi ipsum? Atque eaque, ipsum accusamus soluta molestiae corporis qui asperiores incidunt aliquid mollitia a, dicta odit cum expedita ea fugiat exercitationem illum obcaecati. Praesentium quidem non, expedita corrupti est deserunt repellendus porro ad laudantium similique pariatur culpa voluptas doloremque deleniti, quibusdam maiores, .
		<app-button-read color="red" text="Supprimer"></app-button-read>
	</div>
	<div>
		<img src="{{ imageUrl }}" >
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem cumque itaque ex maiores tenetur fugit consequuntur velit culpa molestias laborum recusandae nam ipsum facere voluptate at, aut obcaecati nihil modi doloribus officia pariatur. Maxime, explicabo fugit repudiandae commodi, non cumque fugiat debitis. Rem a harum fugit unde, nihil, perferendis recusandae libero deleniti aliquam blanditiis beatae dicta quibusdam sint quis, dolore ipsa esse, 
		<app-button-read color="blue" text="AJouter"></app-button-read>
	</div>
	<div>
		<img src="{{ imageUrl }}" >
		Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Quia nobis mollitia officia amet necessitatibus, hic quasi veritatis nisi ipsum? Atque eaque, ipsum accusamus soluta molestiae corporis qui asperiores incidunt aliquid mollitia a, dicta odit cum expedita ea fugiat exercitationem illum obcaecati. Praesentium quidem non, expedita corrupti est deserunt repellendus porro ad laudantium similique pariatur culpa voluptas doloremque deleniti, quibusdam maiores, 
		<app-button-read color="green" text="Modifier"></app-button-read>
	</div>
	<div>
		<img src="{{ imageUrl }}" >
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem cumque itaque ex maiores tenetur fugit consequuntur velit culpa molestias laborum recusandae nam ipsum facere voluptate at, aut obcaecati nihil modi doloribus officia pariatur. Maxime, explicabo fugit repudiandae commodi, non cumque fugiat debitis. Rem a harum fugit unde, nihil,
		<app-button-read color="tomato" text="Editer"></app-button-read>
	</div>
  <app-list-users></app-list-users>

</div>